body {
    background-color: #000000;
}

* {
    color: #ffffff;
}

button {
    color: #000000;
    margin-top: 20px;
}

canvas {
    border: 1px solid #ffffff6b;
    margin-top: 25px;
}

#panner, #time {
    width: 350px;
    margin-top: 1em;
}

.boombox-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
