*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* font-size: 100%; */
    list-style-type: none;
    font-family: "Spline Sans Mono", Arial, sans-serif;
    margin: 0;
    height: 100dvh;
    background-image: url("sources/assets/imgs_icons/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 23%;
}

header {
    width: 100%;
    height: 7vh;
    background-color: #12120d;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

header span {
    font-family: "Black Ops One", Arial, sans-serif;
    font-size: 2rem;
    color: #FFF;

}

main {
    height: auto;
}

.sombra {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    gap: 8px;
    padding-top: 8px;
}

.tone-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 15vw;
    min-width: 80px;
    height: 12vw;
    min-height: 90px;
    position: relative;
    padding: 5px 7px;
    background: rgba(85, 105, 68, 0.8);
    border: 2px solid rgba(85, 105, 68, 0.5);
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    user-select: none;
    color: #000;
}

.tone-button span {
    height: 40%;
    width: 100%;
    text-align: center;
    text-size-adjust: 50%;
    overflow: clip;
    text-overflow: ellipsis;
    padding: 2px;
    white-space: pre-line;
    font-weight: 800;
    font-size: 1.08vw;
}

.tone-button img {
    height: 60%;
}

.tone-button.selected {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* .tone-button span{
            margin-top: 10px;
        } */

.tone-button.dragging {
    opacity: 0.5;
}

/* .tone-button img {
            height: 7vw;
            width: auto;
            display: block;
        } */



.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;

    height: 14vw;
    margin-top: auto;
    margin-bottom: auto;
}

.actions button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


#edit-btn {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 30px;

}

#edit-btn img {
    width: 65%;
    height: auto;
}

#edit-btn {
    background-color: #b48b60c4;
}

#edit-btn.active {
    background-color: #319934;
}



#add-tones-btn,
#add-tones-btn.active {
    width: 14vw;
    height: 4vw;
    margin-right: 2vw;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: #0d6efd;
    font-family: 'Spline Sans Mono';
    font-size: 1.07vw;
    color: #ffffff;
}

#add-tones-btn.active {
    background-color: #319934;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 30px;
}





/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    /**/
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /**/
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    /**/
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /**/
    .tone-button {
        height: 15vw;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    /**/
    .tone-button {
        height: 23vw;

    }

    .tone-button span {
        font-size: 1.90vw;
    }